/*
 * 작성자: 라대성
 * 작성일: 190211
 * 기능: 화면을 구성하는 top, navBar, loginForm, joinForm, header, footer, modal 에 대한 기본 스타일 모음
 */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo');

/* font */
* {
	font-family: 'Nanum Gothic', sans-serif;
	font-family: 'Nanum Myeongjo', serif;
	font-weight: bolder;
}

/* 조회 결과가 없을 때 나타나는 부분 */
#noSelectResult {
	width: 45%;
	text-align: center;
	margin: 160px auto;
}

/* 기본 버튼 스타일 */
.myBtn {
	font-family: 'Nanum Gothic', sans-serif;
	width: 72px;
	height: 32px;
	text-align: center;
	color: #565656;
	background-color: #cdcdcd;
	font-size: 10pt;
	padding-top: 6px;
	border-radius: 10px;
}
.myBtn:hover {
	color: #343434;
	background-color: #ababab;
	cursor: pointer;
}

/* admin 리스트 스타일 */
.my-adminList-row {
	font-size: 8pt;
	padding: 5px 0 5px 0;
	border-bottom: 1px solid #787878;
}
.my-adminList-row:hover {
	background-color: #dedede;
	cursor: pointer;
}

/* 페이지 이동 버튼 스타일 */
.btnAdminBtn {
	font-family: 'Nanum Gothic', sans-serif;
	/* border: 1px solid black; */
	padding: 3px 6px 3px 6px;
}
.btnAdminBtn:hover, .btnAdminBtn:focus {
	color: #787878;
	cursor: pointer;
}
.btnAdminBtnNone {
	font-family: 'Nanum Gothic', sans-serif;
	/* border: 1px solid black; */
	padding: 3px 6px 3px 6px;
	color: #fff;
	background-color: #797979;
	cursor: default;
	border-radius: 10px;
}
.btnAdminBtnBar {
	font-family: 'Nanum Gothic', sans-serif;
	/* border: 1px solid black; */
	padding: 3px 6px 3px 6px;
	color: #8a8a8a
}
.btnAdminBtnBar:hover {
	cursor: default;
}

#boardSearchForm {
	font-family: 'Nanum Gothic', sans-serif;
}

/* 게시글 신고 정보 스타일 (모달) */
#boardContentInBoardReportPage #toBoardViewPageFromBoardReportPage {
	cursor: pointer;
}

/* 책 등록요청 정보 스타일 (모달) */
#bookRegisterInfoInModal #toBoardViewPageFromBoardReportPage {
	cursor: pointer;
}