
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo');

/* font */
* {
	font-family: 'Nanum Gothic', sans-serif;
	font-family: 'Nanum Myeongjo', serif;
	font-weight: bolder;
}

/* navbar aside */
#btnShowNavbar {
	position: fixed;
	top: 25px;
	left: 10px;
	width: 25px;
	height: 20px;
	font-size: 6pt;
	font-weight: bolder;
	padding: 0 0 0 0;
	background-color: #bcbcbc;
}
#btnShowNavbar:hover {
	color: #fff;
	background-color: #787878;
}

/* title 부분 */
#categoryContent {
	font-family: 'Nanum Gothic', sans-serif;
}
#toBoardList:hover {
	color: #000;
	cursor: pointer;
	background-color: #dedede;
}
#toBoardWritePage {
	position: absolute;
	right: 0;
	top: 65px;
}
.toBoardWritePage:hover {
	color: #000;
	cursor: pointer;
	background-color: #dedede;
}

/* 기본 버튼 스타일 */
.myBtn {
	font-family: 'Nanum Gothic', sans-serif;
	width: 56px;
	height: 28px;
	text-align: center;
	color: #787878;
	background-color: #dedede;
	font-size: 10pt;
	padding-top: 5px;
	border-radius: 10px;
}
.myBtn:hover {
	color: #343434;
	background-color: #ababab;
	cursor: pointer;
}

/*
 * top
 */

/*
 * 게시글 미리보기 (조회수순)
 */
.boardTitlePreview:hover {
	transition: 0.5s;
	padding: 3px 5px 3px 5px;
	cursor: pointer;
	background-color: #efefef;
	border-radius: 10px;
}
.bookTitlePreview:hover {
	cursor: pointer;
}
#noSelectResult {
	width: 45%;
	text-align: center;
	margin: 30px auto;
}

/*
 * 게시글 리스트 (등록일순)
 */
.my-board-row {
	height: 40px;
	padding-top: 10px;
	border-bottom: 1px solid black;
}
.my-board-row:last-child {
	border-bottom: 2px solid black;
}
.my-board-grid {
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bolder;
	font-size: 9pt;
	text-align: center;
	height: 25px;
	overflow: hidden;
}
.my-board-grid-title-top {
	font-size: 9pt;
	text-align: center;
}
.my-board-grid-title {
	font-size: 9pt;
}
.my-board-grid-bookTitle {
	text-align: center;
	font-size: 9pt;
}
.my-board-row:hover, .my-board-row:focus {
	background-color: #efefef;
}
.my-board-grid-title:hover, .my-board-grid-title:focus {
	cursor: pointer;
}
.my-board-grid-bookTitle:hover {
	cursor: pointer;
}
#boardList {
	/* font-family: 'Nanum Gothic', sans-serif;
	font-weight: bolder; */
}
.btnBoardView {
	font-family: 'Nanum Gothic', sans-serif;
	/* border: 1px solid black; */
	padding: 3px 6px 3px 6px;
}
.btnBoardView:hover, .btnBoardView:focus {
	color: #787878;
	cursor: pointer;
}
.btnBoardViewNone {
	font-family: 'Nanum Gothic', sans-serif;
	/* border: 1px solid black; */
	padding: 3px 6px 3px 6px;
	color: #fff;
	background-color: #797979;
	cursor: default;
	border-radius: 10px;
}
.btnBoardViewBar {
	font-family: 'Nanum Gothic', sans-serif;
	/* border: 1px solid black; */
	padding: 3px 6px 3px 6px;
	color: #8a8a8a
}
.btnBoardViewBar:hover {
	cursor: default;
}

#boardSearchForm {
	font-family: 'Nanum Gothic', sans-serif;
}

/*
 * 게시글 미리보기
 */
.boardViewAncMini {
	color: #898989;
}
.boardViewAncMini:hover {
	color: #343434;
	cursor: pointer;
}

